.content {
    display:flex;
    
  

}
.fishies {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
  justify-content: stretch;

}
.fishies--image{
    height: 200px;
    width: 200px;
    justify-content: center;

}
.fishes {
    /* display: flex; */
    flex-wrap: flex;
    /* width: 20%; */
    justify-content: space-evenly;

    

  }

  aside{
    width: 30%;
    border: 1px solid darkblue;
    padding: 5px;
  }
